@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.crop {
    height: 31em;
}

@media (max-width: 600px) {
    .crop {
        height: 47em;
    }
}

@media (min-width: 600px) and (max-width: 819px) {
    .crop {
        height: 54em;
    }
}

@media (min-width: 820px) and (max-width: 1023px) {
    .crop {
        height: 45em;
    }
}

@media (min-width: 1024px) and (max-width: 1419px) {
    .crop {
        height: 36em;
    }
}

@media (min-width: 1745px) {
    .crop {
        height: 32em;
    }
}